body {
    font-family: 'Roboto', sans-serif;

    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
}

.uplatnica {
    position: relative;
    display: block;
    width: 906px;
}

.uplatnica .form-field {
    position: absolute;
    font-family: 'Roboto Mono', monospace;
    outline: none;
    background: none;
    border: 1px solid rgba(0,0,0,0); /* prema potrebi mogu promjeniti boju bordera */
}

.uplatnica .form-field:focus {
    border-color: #0000008a;
    background: white;
    box-shadow: 1px 1px 10px #00000085;
}

.uplatnica .form-field-invalid,
.uplatnica .form-field-invalid::placeholder {
    background: yellow;
    border-color: #0000008a;
}

select {
    height: 1.6em; /* visinu usklađujem sa visinom input-a */
}

fieldset {
    border: none;
    background: none;
    padding: 0;
}

.fieldset-platitelj,
.fieldset-primatelj {
    position: absolute;
    overflow: hidden;
    width: 178px;
    left: 29px;
    overflow: hidden;
}

.fieldset-platitelj {
    top: 42px;
    height: 68px;
}

.fieldset-primatelj {
    top: 152px;
    height: 88px;
}

.fieldset-platitelj .form-field,
.fieldset-primatelj .form-field {
    position: static;
    width: 100%;
    display: block;
}

.form-field--iban {
    font-size: 17px;
    letter-spacing: .235em;
    width: 297px;
    height: 17px;
    top: 115px;
    left: 324px;
    padding-left: 1px; /* centriram sadržaj u ćelijama */
}

.form-field--iznos {
    top: 30px;
    left: 409px;
    width: 215px;
    height: 17px;
    text-align: right;
    font-size: 17px;
    letter-spacing: .235em;
}

.form-field--opis {
    top: 172px;
    left: 352px;
    width: 266px;
    height: 63px;
    line-height: 1.31;
    overflow: hidden;
    resize: none;
}

.form-field--sifra-namjene,
.form-field--model {
    top: 146px;
    left: 222px;
    width: 76px;
    height: 25px;
    font-size: 17px;
    letter-spacing: .235em;
    /* skrivam strelicu */
    /* for Firefox */
    -moz-appearance: none;
    /* for Chrome */
    -webkit-appearance: none;
    padding-left: 4px; /* centriram slova u ćelijama*/
}

.form-field--sifra-namjene {
    top: 185px;
    left: 221px;
}

.form-field--poziv-na-broj {
    top: 148px;
    left: 309px;
    font-size: .9em;
    height: 18px;
    width: 313px;
    padding-left: 2px;
}

/********************/

.potvrda-field {
    position: absolute;
    left: 650px;
    display: block;
    height: 19px;
    width: 223px;
    font-family: 'Roboto Mono', monospace;
    text-align: right;
    font-size: 0.9em;
}

.potvrda-field--iznos {
    top: 31px;
    font-size: 1em;
}
.potvrda-field--iban {
    top: 118px;
}
.potvrda-field--model-i-poziv-na-broj {
    top: 152px;
}
.potvrda-field--opis-placanja {
    top: 183px;
    height: 56px;
    text-align: left;
    left: 653px;
}

/*------------------*/

.fieldset-potvrda,
.fieldset-brojke {
    /* sadržani elementi su absolutno pozicionirani, pa ukidam visinu, kako stvar ne bi smetala u layout-u */
    height: 0;
}

.fieldset-about,
.fieldset-novi-nalog,
.fieldset-load-dialog,
.fieldset-save-dialog {
    height: auto;
    display: block; /* zauzmi cijeli redak */
    width: 817px;
    padding: .1em 1em;
    margin-bottom: .2em;
    border: 2px solid #f26437;
}

.fieldset-about {
    margin-left: 1.7rem;
    font-size: .9em;
    height: 2em;
    overflow: hidden;
    width: 820px;
}

.toggle-fieldset-about {
    display: none;
}

.toggle-fieldset-about:checked ~ .fieldset-about {
    height: auto;
}

.fieldset-about p {
    margin: .7em 0;
}

.fieldset-about h1 {
    font-size: 1.6em;
    margin-top: 0;
    margin-bottom: 0.7em;
    position: relative;
    cursor: pointer;
}

.fieldset-about h1:after {
    content: 'keyboard_arrow_down';
 
    position: absolute;
    font-family: 'Material Icons';
    font-style: normal;
    font-size: 1.7em;
    text-transform: none;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    left: 3.2em;
    top: -.15em;
    color: #f26437;
}

.fieldset-about--expanded h1:after {
    content: 'keyboard_arrow_up';
}

.fieldset-novi-nalog {
    text-align: center;
    border: none;
}
.fieldset-novi-nalog button {
     font-size: 1.2em;
     margin-left: .4em;
}

.fieldset-novi-nalog,
.fieldset-load-dialog,
.fieldset-save-dialog {
    margin-left: 1.7em;
}


.fieldset-save-dialog__predlozak-naziv {
    display: inline-block;
}

.fieldset-load-dialog select {
    width: 284px;
    height: 1.7em;
}

.fieldset-load-dialog button {
    margin-right: .3em;
}

.fieldset-load-dialog select,
.fieldset-save-dialog input {
    display: inline-block;
    margin: .3em;
}
.fieldset-load-dialog__load-file {
  /* https://stackoverflow.com/questions/686905/labeling-file-upload-button */
  /* visibility: hidden etc. wont work */
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.fieldset-save-dialog div {
    display: inline-block;
}

.fieldset-save-dialog__hint {
    display: inline-block;
    font-size: 0.8em;
    margin-left: 2em;
    position: relative;
    width: 317px;
    vertical-align: middle;
    margin: .5em 2em .5em 66px;
    text-align: justify;
}
.fieldset-save-dialog__hint::before {
    content: "contact_support";
    position: absolute;
    font-family: 'Material Icons';
    font-style: normal;
    font-size: 1.7em;
    text-transform: none;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    left: -1.1em;
    top: -.15em;
    color: #2196F3;
}

.fieldset-validation-msg {
    display: block;
    margin: .3rem -1rem -.1rem -1rem;
    font-size: .9em;
    padding: .1em 1em;
}
.fieldset-validation-msg-none {
    display: none;
}

.fieldset-validation-msg-error {
    background-color: #ff00003b;
    border-top: 1px solid red;
}

.fieldset-validation-msg-ok {
    border-top: 1px solid green;
    background-color: #0080003d;
}


h2 {
    font-size: 1.2em;
    text-transform: uppercase;
    margin: 0 0 .2em 0;
}

.popis-predlozaka,
.predlozak-naziv {
    display: inline-block;
}

.uplatnica__disclaimer {
    color: #f26437;
    margin: 0 0 .4em 1.8em;
    font-size: .9em;
    width: 836px;
    border: 2px solid #f26437;
    padding: 0 .5em;
    margin-top: 1em;
}

.uplatnica__barcode {
    position: absolute;
    top: 246px;
    left: 33px;
    width: 237px;
    height: 104px;
}

@media print {
    /* skrivam suvišan sadržaj */
    .fieldset-novi-nalog,
    .fieldset-save-dialog,
    .fieldset-load-dialog,
    .fieldset-about {
        display: none !important;
    }

    .uplatnica .form-field,
    .uplatnica .form-field-invalid,
    .uplatnica .form-field-invalid::placeholder {
        background: none;
        border: none;
    }

    /* kod ispisa placeholder tekst se ne prikazuje */
    .uplatnica .form-field::placeholder {
        color: rgba(0,0,0,0);
    }
}